.CardImage{
    width:250px;
    height:300px;
    border-radius: 5px;
    
}

@media screen and (max-width: 600px) {
    .CardImage {
      width:350px;
      height:300px;
      border-radius: 5px;
    }
  }